
<header th:fragment="header">

  <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <a class="navbar-brand" th:href="@{/}">Course Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/courses}">Courses <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" th:href="@{/}" id="navbarDropdown"
             role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            About This Site
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" th:href="@{/announcements}">Announcements</a>
            <a class="dropdown-item" th:href="@{/profile}">Profile</a>
            <a class="nav-link" href="/users" >Users</a>
            <a class="nav-link" th:href="@{/adminControlPanel}" sec:authorize="hasRole('ROLE_ADMIN')">Control Panel <span class="sr-only"></span></a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" th:href="@{/contact}">Contact Us</a>
            <a class="dropdown-item" th:href="@{/impressium}">Impressium</a>
            <a class="dropdown-item" th:href="@{/proTasks}">Programmer Tasks</a>
          </div>
        </li>
        <li>
          <a class="nav-link" href="/login" sec:authorize="!isAuthenticated()">Log in</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Fluid jumbotron</h1>
      <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <a th:href="@{/register}" sec:authorize="!isAuthenticated()" class="btn btn-primary">Sign Up</a>
      <a th:href="@{/course/new}" sec:authorize="isAuthenticated()" class="btn btn-primary">Open a Course</a>
    </div>
  </div>


</header>